.chats {
    position: fixed;
    width: 30%;
    height: 100vh;
    padding-top: 60px;
    overflow: auto;
    border-right: 1px solid #ddd;
}
.chats__wrapper {
    display: flex;
    width:100%;
}
.chats__header {
    position: fixed;
    width: 30%;
    top: 0;
    box-sizing: border-box;
    height: 60px;
    padding: 10px;
}
.chats__header img{
    width: auto;
    height: 100%;
}

.logout {
    width: 30%;
    position: fixed;
    height: 30px;
    bottom: 0;
    background: #fff;
    border: 1px solid #ddd;
    color: rgb(46, 212, 149);
}