.add__chat {
    background: none;
    border: none;
    font-size: 18px;
    color: #ff7819;
    position: absolute;
    right: 10px;
    top: 15px;
}
.dialogContent {
    min-width: 300px;
}
.formControl {
    width: 100%;
}